body{
    margin: 10px;
}
 main{
    margin-left: 20px;
    margin-right: 20px;
 }

h1{
    text-align: center;
}

.navbar ul{
    list-style-type: none;
    background-color: rgb(39, 35, 35);
    overflow: hidden;
    padding: 2px;
    margin: 0px;
}

.navbar a{
    color: white;
    text-decoration: none;
    padding: 15px;
    display: block;
    text-align: center;
}

.navbar a:hover{
    background-color: rgb(67, 67, 67); 
}

.navbar li{
    float: left;
}

.A{width: 360px;
    font-size: 20px;
    text-align: center;
height: 400px;
margin: 8% auto;
background-image: linear-gradient( to bottom right, #337066,#004d40 );
border-radius: 7px;
position: relative;
box-shadow: 5px 5px 5px #004d40;
color: #fffefe;
padding: 10px;

}

#register{
    
    height: 100vh;
    background-image: url(photo/image.png);
    
    background-size: 65%;
    
   
    
   
}

.hidden {
            display: none;
        }
.step {
            margin-bottom: 20px;
        }
button {
            padding: 10px 15px;
            cursor: pointer;
        }
